<div>
  <h2>User Details</h2>
  <hr>
  <button class="btn btn-warning add-button" (click)="showForm=!showForm">Add Agent</button>
  <div class="form col-md-4" *ngIf="showForm">
    <form (ngSubmit)="onSubmit()" #trasactionForm="ngForm">
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" required [(ngModel)]="transaction.amount" name="amount" #amount="ngModel">
        <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
          Amount is required
        </div>
      </div>
      <div class="form-group">
        <label for="currency">Currency</label>
        <select id="currency" class="form-control" [(ngModel)]="transaction.currency" name="currency" #currency="ngModel" required>
                   <option *ngFor="let currency of currencyType"[ngValue]="currency">{{currency}}</option>
               </select>
        <div [hidden]="currency.valid || currency.pristine" class="alert alert-danger">
          Currency is required
        </div>
      </div>
      <div class="form-group">
        <label for="txn_date">Currency</label>
        <input type="date" class="form-control" id="txn_date" required [(ngModel)]="transaction.txn_date" name="txn_date" #txndate="ngModel">
        <div [hidden]="txndate.valid || txndate.pristine" class="alert alert-danger">
          Amount is required
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!trasactionForm.form.valid || !currency.valid">Submit</button>
      <button type="submit" class="btn btn-default cust-pointer" (click)="cancel()">Cancel</button>
    </form>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>currency</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody *ngIf="!errorMessage">
      <tr *ngFor="let transaction of pagedItems;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{transaction.amount | currency:transaction.currency:true}}</td>
        <td>{{transaction.currency}}</td>
        <td>{{transaction.txn_date | date:'longDate' }}</td>
        <td><button class="btn btn-success" (click)="updateAgent(user)">Edit</button>
          <button class="btn btn-danger" (click)="deleteAgent(user.id)">Delete</button> </td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="errorMessage">No Listings Found</h3>
  <nav aria-label="Page navigation example">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(1)" class="page-link">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
      </li>
    </ul>
  </nav>
</div>
